<!-- ********************* TASKS ********************** -->
<div class="columns">
    
    <!-- ********************* DONE TASKS ********************** -->
    <div class="column is-6">
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title is-centered">
                    Done
                </p>
            </header>

            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-striped">
                        <tbody>


                            <tr id="done-task">
                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                <td>Mow Lawn</td>
                                <td class="level-right"><a class="button is-small is-light is-warning" href="#">Undo</a></td>
                            </tr>



                            <tr>
                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                <td>Run</td>
                                <td class="level-right"><a class="button is-small is-light is-warning" href="#">Undo</a></td>
                            </tr>
                            <tr>
                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                <td>Quit job</td>
                                <td class="level-right"><a class="button is-small is-light is-warning" href="#">Undo</a></td>
                            </tr>
                            <tr>
                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                <td>Email Bob</td>
                                <td class="level-right"><a class="button is-small is-light is-warning" href="#">Undo</a></td>
                            </tr>
                            <tr>
                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                <td>Walk Dog</td>
                                <td class="level-right"><a class="button is-small is-light is-warning" href="#">Undo</a></td>
                            </tr>
                            <tr>
                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                <td>Bowling with Jack</td>
                                <td class="level-right"><a class="button is-small is-light is-warning" href="#">Undo</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>  
</div>