<!-- ********************* TASKS ********************** -->
<div class="columns">
  
  <!-- ********************* TODO TASKS ********************** -->
  <div class="column is-6">
      <div class="card events-card">
          <header class="card-header">
              <p class="card-header-title is-centered">
                  To Do
              </p>
          </header>

          <div class="card-table">
              <div class="content">
                  <table class="table is-fullwidth is-striped">
                      <tbody>


{{!-- need to isolation this: --}}
                          <tr id="todo-task">
                              <td width="5%"><i class="fa fa-bell-o"></i></td>
                              <td>Make Bed</td>
                              <td class="level-right"><a class="button is-small is-light is-primary" href="#">Done</a></td>
                          </tr>
{{!-- end --}}


                          <tr>
                              <td width="5%"><i class="fa fa-bell-o"></i></td>
                              <td>Shower</td>
                              <td class="level-right"><a class="button is-small is-light is-primary" href="#">Done</a></td>
                          </tr>
                          <tr>
                              <td width="5%"><i class="fa fa-bell-o"></i></td>
                              <td>Leg Day</td>
                              <td class="level-right"><a class="button is-small is-light is-primary" href="#">Done</a></td>
                          </tr>
                          <tr>
                              <td width="5%"><i class="fa fa-bell-o"></i></td>
                              <td>Wash Dishes</td>
                              <td class="level-right"><a class="button is-small is-light is-primary" href="#">Done</a></td>
                          </tr>
                          <tr>
                              <td width="5%"><i class="fa fa-bell-o"></i></td>
                              <td>Quit Life</td>
                              <td class="level-right"><a class="button is-small is-light is-primary" href="#">Done</a></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>