{{!-- renders sidebar menus --}}
<div class="columns">
    {{!-- *********** Create New Task Card ***********--}}
    <div class="column is-3 mt-6">
        <div class="card m-3" id="create-task-card">
            <header class="card-header has-background-info">
                <p class="card-header-title has-text-white">Create New Task</p>
            </header>
            <div class="card-content">
                <div class="field">
                    <label class="label">Task Name</label>
                    {{!--========= task input area =========--}}
                    <div class="control">
                        <input class="input" name="task-name" type="text" placeholder="name of task here">
                    </div>
                </div>
            </div>
            {{!--========= create button =========--}}
            <div class="card-content">
                <div class="field">
                    <button class="button is-info" id="create-task-btn">
                        Create
                    </button>
                </div>
            </div>
        </div>

        
    </div>

            
{{!--************** Little Boxes **************--}}
    <div class="column is-9 mt-6">
        <section class="info-tiles">
            <div class="tile is-ancestor has-text-centered">
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <span class="icon is-large">
                            
                                <i class="fas fa-book fa-4x"></i>
                                
                        </span>
                    </article>
                </div>
                
                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <span class="icon is-large">
                            
                                <i class="fas fa-sticky-note fa-4x"></i>
                                
                        </span>
                    </article>
                </div>

                <div class="tile is-parent">
                    <article class="tile is-child box">
                        <span class="icon is-large">
                            
                                <i class="fas fa-headphones fa-4x"></i>
                                
                        </span>
                    </article>
                </div>

            </div>
        </section>
        {{!--*********** TASK TO DO ***********--}}
        <div class="columns">
            <div class="column is-6">
                <div class="card events-card">
                    <header class="card-header">
                        <p class="card-header-title is-centered">
                            To Do
                        </p>
                    </header>
                    <div class="card-table">
                        <div class="content">
                            <table class="table is-fullwidth is-striped">
                                <tbody>


                                    

                                    
                                    {{!--$$$$$$$ tasks from db $$$$$$$--}}
                                    {{#each tasktopost}}
                                        <tr class="notabulma">
                                            <td width="5%"><i class="fa fa-bell-o"></i></td>
                                            <td id="{{id}}">{{task_name}}</td>
                                            {{!--========== done button ==========--}}
                                            <td class="level-right">
                                                <a class="button is-small is-light is-primary" href="/dashboard/edit/{{id}}" id="edit-btn">Update</a>
                                                <a class="button is-small is-light is-primary" id="done-btn" onclick="taskIsDone(this)" onmousedown="party.confetti(this)">Done</a>
                                            </td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>                  
            </div>


            <div class="column is-6">
                <div class="card" id="select-task-card">
            <header class="card-header has-background-success">
                <p class="card-header-title has-text-white">Select a Task to Add</p>
            </header>
            <div class="card-content">
                <div class="panel is-info is-flex-direction-row" id="task-panel">
                    <a class="panel-block has-background-success-light" onclick="addSelectedTask(this)" name="Work Out">
                        <span class="panel-icon">
                            <i class="fas fa-dumbbell" aria-hidden="true"></i>
                        </span>
                        Work out
                    </a>
                    <a class="panel-block has-background-success-light" onclick="addSelectedTask(this)">
                        <span class="panel-icon">
                            <i class="fas fa-shower" aria-hidden="true"></i>
                        </span>
                        Clean
                    </a>
                    <a class="panel-block has-background-success-light" onclick="addSelectedTask(this)">
                        <span class="panel-icon">
                            <i class="fas fa-book-reader" aria-hidden="true"></i>
                        </span>
                        Study
                    </a>
                    <a class="panel-block has-background-success-light" onclick="addSelectedTask(this)">
                        <span class="panel-icon">
                            <i class="fas fa-dog" aria-hidden="true"></i>
                        </span>
                        Walk pet
                    </a>
                    <a class="panel-block has-background-success-light" onclick="addSelectedTask(this)">
                        <span class="panel-icon">
                            <i class="fas fa-shopping-basket" aria-hidden="true"></i>
                        </span>
                        Shop
                    </a>
                    <a class="panel-block has-background-success-light" onclick="addSelectedTask(this)">
                        <span class="panel-icon">
                            <i class="fas fa-gamepad" aria-hidden="true"></i>
                        </span>
                        Play Games
                    </a>
                    <a class="panel-block has-background-success-light" onclick="addSelectedTask(this)">
                        <span class="panel-icon">
                            <i class="fas fa-basketball-ball" aria-hidden="true"></i>
                        </span>
                        Watch Game
                    </a>
                    <a class="panel-block has-background-success-light" onclick="addSelectedTask(this)">
                        <span class="panel-icon">
                            <i class="fas fa-tv" aria-hidden="true"></i>
                        </span>
                        Watch Show
                    </a>
                    <a class="panel-block has-background-success-light" onclick="addSelectedTask(this)">
                        <span class="panel-icon">
                            <i class="fas fa-mitten" aria-hidden="true"></i>
                        </span>
                        Cook
                    </a>
                </div>
            </div>
        </div>
            </div>



        </div>
    </div>
</div>

<script src="/javascript/add-task.js"></script>
<script src="/javascript/select-task.js"></script>
<script src="/javascript/logout.js"></script>
<script src="/javascript/done-task.js"></script>
<script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
